In [ ]:
# html_page = requests.get('https://www.the-numbers.com/movie/budgets/all')
# soup = BeautifulSoup(html_page.content, 'html.parser')

In [ ]:
# soup.prettify

In [ ]:
# warning = soup.findAll('td', class_="data")
# warning

In [ ]:
# price = []
# for i in warning:
#     price.append(str(i.text)[2:])
# price = [x.replace(',', '') for x in price]
    
# prices = []
# for x in range(0, len(price), 4):
#     prices.append(price[x+1:x+4])

In [ ]:
# prices

In [ ]:
# for listy in prices:
#     for item in listy:
#         item = int(item)

In [ ]:
# test = [[int(item) for item in listy] for listy in prices]

In [ ]:
# test

In [ ]:
# titles = soup.findAll('b') # Make a selection
# titles

In [ ]:
# names=[]
# for i in titles:
#     names.append(i.get_text())

# names[1:]

In [ ]:
# combine_data1=pd.merge(pd.DataFrame(names[1:]).reset_index(),pd.DataFrame(test).reset_index(),on='index').drop(columns='index')

In [ ]:
# combine_data1.columns = ['name','budget','domestic_gorss','international_gross']
# combine_data1

In [ ]:
import sys
sys.setrecursionlimit(100000)

import pickle 
pickle.dump(list1, open( "save.p", "wb" ) )

In [ ]:
var = pd.read_html('https://www.the-numbers.com/movie/budgets/all')

In [ ]:
SQL

In [ ]:
dm_sort.columns

In [ ]:
column_name=['index','date', 'name', 'budget', 'domestic_gross', 'international_gross',
       'running_time', 'genre', 'production_company', 'keywords']

In [ ]:
import mysql.connector
from mysql.connector import errorcode

In [ ]:
db_name='movie'

In [ ]:
cnx = mysql.connector.connect(
    host = 'database-1.c6dr0kuue1ke.us-east-2.rds.amazonaws.com',
    user = 'admin',
    passwd = 'Alex27138231',
    database = 'yelp'
)
cnx
cursor = cnx.cursor()

In [ ]:
def create_database(cursor, database):
    try:
        cursor.execute("USE {}".format(db_name))
#if the previous line fails because there isn't a db by that name run this line
    except mysql.connector.Error as err:
        print("Database {} does not exists.".format(db_name))
    if err.errno == errorcode.ER_BAD_DB_ERROR:
        create_database(cursor, db_name)
        print("Database {} created successfully.".format(db_name))
        cnx.database = db_name
    else:
        print(err)
        exit(1)

In [ ]:
dm_sort.head(2)

In [ ]:
dm_sort['test'].dtype

In [ ]:
type(dm_sort['index'][0])

In [ ]:
TABLES={}
TABLES['movie']=(
    "CREATE TABLE movies ("

    "  test int(64) NOT NULL ,"
    "  date varchar(200),"
    "  name varchar(200),"
    "  budget decimal(10) ,"
    "  domestic_gross decimal(10),"
    "  international_gross decimal(20),"
    "  running_time decimal(20),"
    "  genre varchar(200),"
    "  production_company varchar(500),"
    "  keywords varchar(500),"
    "  PRIMARY KEY (test)"
    ") ENGINE=InnoDB")

In [ ]:
for table_name in TABLES:
    table_description = TABLES[table_name]
    try:
        print("Creating table {}: ".format(table_name), end='')
        cursor.execute(table_description)
    except mysql.connector.Error as err:
        if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
            print("already exists.")
        else:
            print(err.msg)
    else:
        print("OK")

In [ ]:
table_description = TABLES['change']
try:
    print("Creating table {}: ".format(table_name), end='')
    cursor.execute(table_description)
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
        print("already exists.")
    else:
        print(err.msg)
else:
    print("OK")

In [ ]:
Conn: 
mean = 3.688562
std = 8.103732
n = 10413

NJ:
mean = 4.380957
std = 9.923776
n = 11458